<html>
<head>
	<%= stylesheet_link_tag "style" %>
	<title>Knjige</title>
</head>
<body>
	<div class="telo">
		<h1>Dobrodošli!</h1>
		<ul>
			Na naši spletni strani lahko pišete svoje knjige in poglavja razdelite med svoje soustvarjalce.
		</ul>
	</div>
</body>